# Enable Rewrite Engine
RewriteEngine On

# Serve the index.html file for all routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Serve static files directly
# Ensure that Vite's assets are served correctly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Custom 404 error page (optional)
ErrorDocument 404 /404.html